// xlarge and global
    // top
        .pt-0 {
            padding-top: 0;
        }
        .pt-5 {
            padding-top: 5px;
        }
        .pt-6 {
            padding-top: 6px;
        }
        .pt-8 {
            padding-top: 8px;
        }
        .pt-10 {
            padding-top: 10px;
        }
        .pt-15 {
            padding-top: 15px;
        }
        .pt-16 {
            padding-top: 16px;
        }
        .pt-20 {
            padding-top: 20px;
        }
        .pt-25 {
            padding-top: 25px;
        }
        .pt-30 {
            padding-top: 30px;
        }
        .pt-32 {
            padding-top: 32px;
        }
        .pt-35 {
            padding-top: 35px;
        }
        .pt-40 {
            padding-top: 40px;
        }
        .pt-45 {
            padding-top: 45px;
        }
        .pt-50 {
            padding-top: 50px;
        }
        .pt-55 {
            padding-top: 50px;
        }
        .pt-60 {
            padding-top: 60px;
        }
        .pt-64 {
            padding-top: 64px;
        }
        .pt-70 {
            padding-top: 70px;
        }
        .pt-75 {
            padding-top: 75px;
        }
        .pt-80 {
            padding-top: 80px;
        }
        .pt-85 {
            padding-top: 85px;
        }
        .pt-90 {
            padding-top: 90px;
        }
        .pt-95 {
            padding-top: 95px;
        }
        .pt-100 {
            padding-top: 100px;
        }
    // bottom
        .pb-0 {
            padding-bottom: 0;
        }
        .pb-5 {
            padding-bottom: 5px;
        }
        .pb-6 {
            padding-bottom: 6px;
        }
        .pb-8 {
            padding-bottom: 8px;
        }
        .pb-10 {
            padding-bottom: 10px;
        }
        .pb-15 {
            padding-bottom: 15px;
        }
        .pb-16 {
            padding-bottom: 16px;
        }
        .pb-20 {
            padding-bottom: 20px;
        }
        .pb-25 {
            padding-bottom: 25px;
        }
        .pb-30 {
            padding-bottom: 30px;
        }
        .pb-32 {
            padding-bottom: 32px;
        }
        .pb-35 {
            padding-bottom: 35px;
        }
        .pb-40 {
            padding-bottom: 40px;
        }
        .pb-45 {
            padding-bottom: 45px;
        }
        .pb-50 {
            padding-bottom: 50px;
        }
        .pb-55 {
            padding-bottom: 50px;
        }
        .pb-60 {
            padding-bottom: 60px;
        }
        .pb-64 {
            padding-bottom: 64px;
        }
        .pb-70 {
            padding-bottom: 70px;
        }
        .pb-75 {
            padding-bottom: 75px;
        }
        .pb-80 {
            padding-bottom: 80px;
        }
        .pb-85 {
            padding-bottom: 85px;
        }
        .pb-90 {
            padding-bottom: 90px;
        }
        .pb-95 {
            padding-bottom: 95px;
        }
        .pb-100 {
            padding-bottom: 100px;
        }
    // left
        .pl-0 {
            padding-left: 0;
        }
        .pl-5 {
            padding-left: 5px;
        }
        .pl-6 {
            padding-left: 6px;
        }
        .pl-8 {
            padding-left: 8px;
        }
        .pl-10 {
            padding-left: 10px;
        }
        .pl-15 {
            padding-left: 15px;
        }
        .pl-16 {
            padding-left: 16px;
        }
        .pl-20 {
            padding-left: 20px;
        }
        .pl-25 {
            padding-left: 25px;
        }
        .pl-30 {
            padding-left: 30px;
        }
        .pl-32 {
            padding-left: 32px;
        }
        .pl-35 {
            padding-left: 35px;
        }
        .pl-40 {
            padding-left: 40px;
        }
        .pl-45 {
            padding-left: 45px;
        }
        .pl-50 {
            padding-left: 50px;
        }
        .pl-55 {
            padding-left: 50px;
        }
        .pl-60 {
            padding-left: 60px;
        }
        .pl-64 {
            padding-left: 64px;
        }
        .pl-70 {
            padding-left: 70px;
        }
        .pl-75 {
            padding-left: 75px;
        }
        .pl-80 {
            padding-left: 80px;
        }
        .pl-85 {
            padding-left: 85px;
        }
        .pl-90 {
            padding-left: 90px;
        }
        .pl-95 {
            padding-left: 95px;
        }
        .pl-100 {
            padding-left: 100px;
        }
    // right
        .pr-0 {
            padding-right: 0;
        }
        .pr-5 {
            padding-right: 5px;
        }
        .pr-6 {
            padding-right: 6px;
        }
        .pr-8 {
            padding-right: 8px;
        }
        .pr-10 {
            padding-right: 10px;
        }
        .pr-15 {
            padding-right: 15px;
        }
        .pr-16 {
            padding-right: 16px;
        }
        .pr-20 {
            padding-right: 20px;
        }
        .pr-25 {
            padding-right: 25px;
        }
        .pr-30 {
            padding-right: 30px;
        }
        .pr-32 {
            padding-right: 32px;
        }
        .pr-35 {
            padding-right: 35px;
        }
        .pr-40 {
            padding-right: 40px;
        }
        .pr-45 {
            padding-right: 45px;
        }
        .pr-50 {
            padding-right: 50px;
        }
        .pr-55 {
            padding-right: 50px;
        }
        .pr-60 {
            padding-right: 60px;
        }
        .pr-64 {
            padding-right: 64px;
        }
        .pr-70 {
            padding-right: 70px;
        }
        .pr-75 {
            padding-right: 75px;
        }
        .pr-80 {
            padding-right: 80px;
        }
        .pr-85 {
            padding-right: 85px;
        }
        .pr-90 {
            padding-right: 90px;
        }
        .pr-95 {
            padding-right: 95px;
        }
        .pr-100 {
            padding-right: 100px;
        }
// desktop-large
    // top
        .pt-lg-0 {
            @include desktop-large {
                padding-top: 0px;
            }
        }
        .pt-lg-5 {
            @include desktop-large {
                padding-top: 5px;
            }
        }
        .pt-lg-6 {
            @include desktop-large {
                padding-top: 6px;
            }
        }
        .pt-lg-8 {
            @include desktop-large {
                padding-top: 8px;
            }
        }
        .pt-lg-10 {
            @include desktop-large {
                padding-top: 10px;
            }
        }
        .pt-lg-12 {
            @include desktop-large {
                padding-top: 12px;
            }
        }
        .pt-lg-15 {
            @include desktop-large {
                padding-top: 15px;
            }
        }
        .pt-lg-16 {
            @include desktop-large {
                padding-top: 16px;
            }
        }
        .pt-lg-20 {
            @include desktop-large {
                padding-top: 20px;
            }
        }
        .pt-lg-25 {
            @include desktop-large {
                padding-top: 25px;
            }
        }
        .pt-lg-30 {
            @include desktop-large {
                padding-top: 30px;
            }
        }
        .pt-lg-32 {
            @include desktop-large {
                padding-top: 32px;
            }
        }
        .pt-lg-35 {
            @include desktop-large {
                padding-top: 35px;
            }
        }
        .pt-lg-40 {
            @include desktop-large {
                padding-top: 40px;
            }
        }
        .pt-lg-45 {
            @include desktop-large {
                padding-top: 45px;
            }
        }
        .pt-lg-50 {
            @include desktop-large {
                padding-top: 50px;
            }
        }
        .pt-lg-55 {
            @include desktop-large {
                padding-top: 55px;
            }
        }
        .pt-lg-60 {
            @include desktop-large {
                padding-top: 60px;
            }
        }
        .pt-lg-64 {
            @include desktop-large {
                padding-top: 64px;
            }
        }
        .pt-lg-70 {
            @include desktop-large {
                padding-top: 70px;
            }
        }
        .pt-lg-75 {
            @include desktop-large {
                padding-top: 75px;
            }
        }
        .pt-lg-80 {
            @include desktop-large {
                padding-top: 80px;
            }
        }
        .pt-lg-85 {
            @include desktop-large {
                padding-top: 85px;
            }
        }
        .pt-lg-90 {
            @include desktop-large {
                padding-top: 90px;
            }
        }
        .pt-lg-95 {
            @include desktop-large {
                padding-top: 95px;
            }
        }
        .pt-lg-100 {
            @include desktop-large {
                padding-top: 100px;
            }
        }
    // bottom
        .pb-lg-0 {
            @include desktop-large {
                padding-bottom: 0px;
            }
        }
        .pb-lg-5 {
            @include desktop-large {
                padding-bottom: 5px;
            }
        }
        .pb-lg-6 {
            @include desktop-large {
                padding-bottom: 6px;
            }
        }
        .pb-lg-8 {
            @include desktop-large {
                padding-bottom: 8px;
            }
        }
        .pb-lg-10 {
            @include desktop-large {
                padding-bottom: 10px;
            }
        }
        .pb-lg-12 {
            @include desktop-large {
                padding-bottom: 12px;
            }
        }
        .pb-lg-15 {
            @include desktop-large {
                padding-bottom: 15px;
            }
        }
        .pb-lg-16 {
            @include desktop-large {
                padding-bottom: 16px;
            }
        }
        .pb-lg-20 {
            @include desktop-large {
                padding-bottom: 20px;
            }
        }
        .pb-lg-25 {
            @include desktop-large {
                padding-bottom: 25px;
            }
        }
        .pb-lg-30 {
            @include desktop-large {
                padding-bottom: 30px;
            }
        }
        .pb-lg-32 {
            @include desktop-large {
                padding-bottom: 32px;
            }
        }
        .pb-lg-35 {
            @include desktop-large {
                padding-bottom: 35px;
            }
        }
        .pb-lg-40 {
            @include desktop-large {
                padding-bottom: 40px;
            }
        }
        .pb-lg-45 {
            @include desktop-large {
                padding-bottom: 45px;
            }
        }
        .pb-lg-50 {
            @include desktop-large {
                padding-bottom: 50px;
            }
        }
        .pb-lg-55 {
            @include desktop-large {
                padding-bottom: 55px;
            }
        }
        .pb-lg-60 {
            @include desktop-large {
                padding-bottom: 60px;
            }
        }
        .pb-lg-64 {
            @include desktop-large {
                padding-bottom: 64px;
            }
        }
        .pb-lg-70 {
            @include desktop-large {
                padding-bottom: 70px;
            }
        }
        .pb-lg-75 {
            @include desktop-large {
                padding-bottom: 75px;
            }
        }
        .pb-lg-80 {
            @include desktop-large {
                padding-bottom: 80px;
            }
        }
        .pb-lg-85 {
            @include desktop-large {
                padding-bottom: 85px;
            }
        }
        .pb-lg-90 {
            @include desktop-large {
                padding-bottom: 90px;
            }
        }
        .pb-lg-95 {
            @include desktop-large {
                padding-bottom: 95px;
            }
        }
        .pb-lg-100 {
            @include desktop-large {
                padding-bottom: 100px;
            }
        }
    // left
        .pl-lg-0 {
            @include desktop-large {
                padding-left: 0px;
            }
        }
        .pl-lg-5 {
            @include desktop-large {
                padding-left: 5px;
            }
        }
        .pl-lg-6 {
            @include desktop-large {
                padding-left: 6px;
            }
        }
        .pl-lg-8 {
            @include desktop-large {
                padding-left: 8px;
            }
        }
        .pl-lg-10 {
            @include desktop-large {
                padding-left: 10px;
            }
        }
        .pl-lg-12 {
            @include desktop-large {
                padding-left: 12px;
            }
        }
        .pl-lg-15 {
            @include desktop-large {
                padding-left: 15px;
            }
        }
        .pl-lg-16 {
            @include desktop-large {
                padding-left: 16px;
            }
        }
        .pl-lg-20 {
            @include desktop-large {
                padding-left: 20px;
            }
        }
        .pl-lg-25 {
            @include desktop-large {
                padding-left: 25px;
            }
        }
        .pl-lg-30 {
            @include desktop-large {
                padding-left: 30px;
            }
        }
        .pl-lg-32 {
            @include desktop-large {
                padding-left: 32px;
            }
        }
        .pl-lg-35 {
            @include desktop-large {
                padding-left: 35px;
            }
        }
        .pl-lg-40 {
            @include desktop-large {
                padding-left: 40px;
            }
        }
        .pl-lg-45 {
            @include desktop-large {
                padding-left: 45px;
            }
        }
        .pl-lg-50 {
            @include desktop-large {
                padding-left: 50px;
            }
        }
        .pl-lg-55 {
            @include desktop-large {
                padding-left: 55px;
            }
        }
        .pl-lg-60 {
            @include desktop-large {
                padding-left: 60px;
            }
        }
        .pl-lg-64 {
            @include desktop-large {
                padding-left: 64px;
            }
        }
        .pl-lg-70 {
            @include desktop-large {
                padding-left: 70px;
            }
        }
        .pl-lg-75 {
            @include desktop-large {
                padding-left: 75px;
            }
        }
        .pl-lg-80 {
            @include desktop-large {
                padding-left: 80px;
            }
        }
        .pl-lg-85 {
            @include desktop-large {
                padding-left: 85px;
            }
        }
        .pl-lg-90 {
            @include desktop-large {
                padding-left: 90px;
            }
        }
        .pl-lg-95 {
            @include desktop-large {
                padding-left: 95px;
            }
        }
        .pl-lg-100 {
            @include desktop-large {
                padding-left: 100px;
            }
        }
    // right
        .pr-lg-0 {
            @include desktop-large {
                padding-right: 0px;
            }
        }
        .pr-lg-5 {
            @include desktop-large {
                padding-right: 5px;
            }
        }
        .pr-lg-6 {
            @include desktop-large {
                padding-right: 6px;
            }
        }
        .pr-lg-8 {
            @include desktop-large {
                padding-right: 8px;
            }
        }
        .pr-lg-10 {
            @include desktop-large {
                padding-right: 10px;
            }
        }
        .pr-lg-12 {
            @include desktop-large {
                padding-right: 12px;
            }
        }
        .pr-lg-15 {
            @include desktop-large {
                padding-right: 15px;
            }
        }
        .pr-lg-16 {
            @include desktop-large {
                padding-right: 16px;
            }
        }
        .pr-lg-20 {
            @include desktop-large {
                padding-right: 20px;
            }
        }
        .pr-lg-25 {
            @include desktop-large {
                padding-right: 25px;
            }
        }
        .pr-lg-30 {
            @include desktop-large {
                padding-right: 30px;
            }
        }
        .pr-lg-32 {
            @include desktop-large {
                padding-right: 32px;
            }
        }
        .pr-lg-35 {
            @include desktop-large {
                padding-right: 35px;
            }
        }
        .pr-lg-40 {
            @include desktop-large {
                padding-right: 40px;
            }
        }
        .pr-lg-45 {
            @include desktop-large {
                padding-right: 45px;
            }
        }
        .pr-lg-50 {
            @include desktop-large {
                padding-right: 50px;
            }
        }
        .pr-lg-55 {
            @include desktop-large {
                padding-right: 55px;
            }
        }
        .pr-lg-60 {
            @include desktop-large {
                padding-right: 60px;
            }
        }
        .pr-lg-64 {
            @include desktop-large {
                padding-right: 64px;
            }
        }
        .pr-lg-70 {
            @include desktop-large {
                padding-right: 70px;
            }
        }
        .pr-lg-75 {
            @include desktop-large {
                padding-right: 75px;
            }
        }
        .pr-lg-80 {
            @include desktop-large {
                padding-right: 80px;
            }
        }
        .pr-lg-85 {
            @include desktop-large {
                padding-right: 85px;
            }
        }
        .pr-lg-90 {
            @include desktop-large {
                padding-right: 90px;
            }
        }
        .pr-lg-95 {
            @include desktop-large {
                padding-right: 95px;
            }
        }
        .pr-lg-100 {
            @include desktop-large {
                padding-right: 100px;
            }
        }
// desktop-small
    // top
        .pt-ds-sm-0 {
            @include desktop-small {
                padding-top: 0px;
            }
        }
        .pt-ds-sm-5 {
            @include desktop-small {
                padding-top: 5px;
            }
        }
        .pt-ds-sm-6 {
            @include desktop-small {
                padding-top: 6px;
            }
        }
        .pt-ds-sm-8 {
            @include desktop-small {
                padding-top: 8px;
            }
        }
        .pt-ds-sm-10 {
            @include desktop-small {
                padding-top: 10px;
            }
        }
        .pt-ds-sm-12 {
            @include desktop-small {
                padding-top: 12px;
            }
        }
        .pt-ds-sm-15 {
            @include desktop-small {
                padding-top: 15px;
            }
        }
        .pt-ds-sm-16 {
            @include desktop-small {
                padding-top: 16px;
            }
        }
        .pt-ds-sm-20 {
            @include desktop-small {
                padding-top: 20px;
            }
        }
        .pt-ds-sm-25 {
            @include desktop-small {
                padding-top: 25px;
            }
        }
        .pt-ds-sm-30 {
            @include desktop-small {
                padding-top: 30px;
            }
        }
        .pt-ds-sm-32 {
            @include desktop-small {
                padding-top: 32px;
            }
        }
        .pt-ds-sm-35 {
            @include desktop-small {
                padding-top: 35px;
            }
        }
        .pt-ds-sm-40 {
            @include desktop-small {
                padding-top: 40px;
            }
        }
        .pt-ds-sm-45 {
            @include desktop-small {
                padding-top: 45px;
            }
        }
        .pt-ds-sm-50 {
            @include desktop-small {
                padding-top: 50px;
            }
        }
        .pt-ds-sm-55 {
            @include desktop-small {
                padding-top: 55px;
            }
        }
        .pt-ds-sm-60 {
            @include desktop-small {
                padding-top: 60px;
            }
        }
        .pt-ds-sm-64 {
            @include desktop-small {
                padding-top: 64px;
            }
        }
        .pt-ds-sm-70 {
            @include desktop-small {
                padding-top: 70px;
            }
        }
        .pt-ds-sm-75 {
            @include desktop-small {
                padding-top: 75px;
            }
        }
        .pt-ds-sm-80 {
            @include desktop-small {
                padding-top: 80px;
            }
        }
        .pt-ds-sm-85 {
            @include desktop-small {
                padding-top: 85px;
            }
        }
        .pt-ds-sm-90 {
            @include desktop-small {
                padding-top: 90px;
            }
        }
        .pt-ds-sm-95 {
            @include desktop-small {
                padding-top: 95px;
            }
        }
        .pt-ds-sm-100 {
            @include desktop-small {
                padding-top: 100px;
            }
        }
    // bottom
        .pb-ds-sm-0 {
            @include desktop-small {
                padding-bottom: 0px;
            }
        }
        .pb-ds-sm-5 {
            @include desktop-small {
                padding-bottom: 5px;
            }
        }
        .pb-ds-sm-6 {
            @include desktop-small {
                padding-bottom: 6px;
            }
        }
        .pb-ds-sm-8 {
            @include desktop-small {
                padding-bottom: 8px;
            }
        }
        .pb-ds-sm-10 {
            @include desktop-small {
                padding-bottom: 10px;
            }
        }
        .pb-ds-sm-12 {
            @include desktop-small {
                padding-bottom: 12px;
            }
        }
        .pb-ds-sm-15 {
            @include desktop-small {
                padding-bottom: 15px;
            }
        }
        .pb-ds-sm-16 {
            @include desktop-small {
                padding-bottom: 16px;
            }
        }
        .pb-ds-sm-20 {
            @include desktop-small {
                padding-bottom: 20px;
            }
        }
        .pb-ds-sm-25 {
            @include desktop-small {
                padding-bottom: 25px;
            }
        }
        .pb-ds-sm-30 {
            @include desktop-small {
                padding-bottom: 30px;
            }
        }
        .pb-ds-sm-32 {
            @include desktop-small {
                padding-bottom: 32px;
            }
        }
        .pb-ds-sm-35 {
            @include desktop-small {
                padding-bottom: 35px;
            }
        }
        .pb-ds-sm-40 {
            @include desktop-small {
                padding-bottom: 40px;
            }
        }
        .pb-ds-sm-45 {
            @include desktop-small {
                padding-bottom: 45px;
            }
        }
        .pb-ds-sm-50 {
            @include desktop-small {
                padding-bottom: 50px;
            }
        }
        .pb-ds-sm-55 {
            @include desktop-small {
                padding-bottom: 55px;
            }
        }
        .pb-ds-sm-60 {
            @include desktop-small {
                padding-bottom: 60px;
            }
        }
        .pb-ds-sm-64 {
            @include desktop-small {
                padding-bottom: 64px;
            }
        }
        .pb-ds-sm-70 {
            @include desktop-small {
                padding-bottom: 70px;
            }
        }
        .pb-ds-sm-75 {
            @include desktop-small {
                padding-bottom: 75px;
            }
        }
        .pb-ds-sm-80 {
            @include desktop-small {
                padding-bottom: 80px;
            }
        }
        .pb-ds-sm-85 {
            @include desktop-small {
                padding-bottom: 85px;
            }
        }
        .pb-ds-sm-90 {
            @include desktop-small {
                padding-bottom: 90px;
            }
        }
        .pb-ds-sm-95 {
            @include desktop-small {
                padding-bottom: 95px;
            }
        }
        .pb-ds-sm-100 {
            @include desktop-small {
                padding-bottom: 100px;
            }
        }
    // left
        .pl-ds-sm-0 {
            @include desktop-small {
                padding-left: 0px;
            }
        }
        .pl-ds-sm-5 {
            @include desktop-small {
                padding-left: 5px;
            }
        }
        .pl-ds-sm-6 {
            @include desktop-small {
                padding-left: 6px;
            }
        }
        .pl-ds-sm-8 {
            @include desktop-small {
                padding-left: 8px;
            }
        }
        .pl-ds-sm-10 {
            @include desktop-small {
                padding-left: 10px;
            }
        }
        .pl-ds-sm-12 {
            @include desktop-small {
                padding-left: 12px;
            }
        }
        .pl-ds-sm-15 {
            @include desktop-small {
                padding-left: 15px;
            }
        }
        .pl-ds-sm-16 {
            @include desktop-small {
                padding-left: 16px;
            }
        }
        .pl-ds-sm-20 {
            @include desktop-small {
                padding-left: 20px;
            }
        }
        .pl-ds-sm-25 {
            @include desktop-small {
                padding-left: 25px;
            }
        }
        .pl-ds-sm-30 {
            @include desktop-small {
                padding-left: 30px;
            }
        }
        .pl-ds-sm-32 {
            @include desktop-small {
                padding-left: 32px;
            }
        }
        .pl-ds-sm-35 {
            @include desktop-small {
                padding-left: 35px;
            }
        }
        .pl-ds-sm-40 {
            @include desktop-small {
                padding-left: 40px;
            }
        }
        .pl-ds-sm-45 {
            @include desktop-small {
                padding-left: 45px;
            }
        }
        .pl-ds-sm-50 {
            @include desktop-small {
                padding-left: 50px;
            }
        }
        .pl-ds-sm-55 {
            @include desktop-small {
                padding-left: 55px;
            }
        }
        .pl-ds-sm-60 {
            @include desktop-small {
                padding-left: 60px;
            }
        }
        .pl-ds-sm-64 {
            @include desktop-small {
                padding-left: 64px;
            }
        }
        .pl-ds-sm-70 {
            @include desktop-small {
                padding-left: 70px;
            }
        }
        .pl-ds-sm-75 {
            @include desktop-small {
                padding-left: 75px;
            }
        }
        .pl-ds-sm-80 {
            @include desktop-small {
                padding-left: 80px;
            }
        }
        .pl-ds-sm-85 {
            @include desktop-small {
                padding-left: 85px;
            }
        }
        .pl-ds-sm-90 {
            @include desktop-small {
                padding-left: 90px;
            }
        }
        .pl-ds-sm-95 {
            @include desktop-small {
                padding-left: 95px;
            }
        }
        .pl-ds-sm-100 {
            @include desktop-small {
                padding-left: 100px;
            }
        }
    // right
        .pr-ds-sm-0 {
            @include desktop-small {
                padding-right: 0px;
            }
        }
        .pr-ds-sm-5 {
            @include desktop-small {
                padding-right: 5px;
            }
        }
        .pr-ds-sm-6 {
            @include desktop-small {
                padding-right: 6px;
            }
        }
        .pr-ds-sm-8 {
            @include desktop-small {
                padding-right: 8px;
            }
        }
        .pr-ds-sm-10 {
            @include desktop-small {
                padding-right: 10px;
            }
        }
        .pr-ds-sm-12 {
            @include desktop-small {
                padding-right: 12px;
            }
        }
        .pr-ds-sm-15 {
            @include desktop-small {
                padding-right: 15px;
            }
        }
        .pr-ds-sm-16 {
            @include desktop-small {
                padding-right: 16px;
            }
        }
        .pr-ds-sm-20 {
            @include desktop-small {
                padding-right: 20px;
            }
        }
        .pr-ds-sm-25 {
            @include desktop-small {
                padding-right: 25px;
            }
        }
        .pr-ds-sm-30 {
            @include desktop-small {
                padding-right: 30px;
            }
        }
        .pr-ds-sm-32 {
            @include desktop-small {
                padding-right: 32px;
            }
        }
        .pr-ds-sm-35 {
            @include desktop-small {
                padding-right: 35px;
            }
        }
        .pr-ds-sm-40 {
            @include desktop-small {
                padding-right: 40px;
            }
        }
        .pr-ds-sm-45 {
            @include desktop-small {
                padding-right: 45px;
            }
        }
        .pr-ds-sm-50 {
            @include desktop-small {
                padding-right: 50px;
            }
        }
        .pr-ds-sm-55 {
            @include desktop-small {
                padding-right: 55px;
            }
        }
        .pr-ds-sm-60 {
            @include desktop-small {
                padding-right: 60px;
            }
        }
        .pr-ds-sm-64 {
            @include desktop-small {
                padding-right: 64px;
            }
        }
        .pr-ds-sm-70 {
            @include desktop-small {
                padding-right: 70px;
            }
        }
        .pr-ds-sm-75 {
            @include desktop-small {
                padding-right: 75px;
            }
        }
        .pr-ds-sm-80 {
            @include desktop-small {
                padding-right: 80px;
            }
        }
        .pr-ds-sm-85 {
            @include desktop-small {
                padding-right: 85px;
            }
        }
        .pr-ds-sm-90 {
            @include desktop-small {
                padding-right: 90px;
            }
        }
        .pr-ds-sm-95 {
            @include desktop-small {
                padding-right: 95px;
            }
        }
        .pr-ds-sm-100 {
            @include desktop-small {
                padding-right: 100px;
            }
        }
// tablet-medium
    // top
        .pt-md-0 {
            @include tablet-medium {
                padding-top: 0px;
            }
        }
        .pt-md-5 {
            @include tablet-medium {
                padding-top: 5px;
            }
        }
        .pt-md-6 {
            @include tablet-medium {
                padding-top: 6px;
            }
        }
        .pt-md-8 {
            @include tablet-medium {
                padding-top: 8px;
            }
        }
        .pt-md-10 {
            @include tablet-medium {
                padding-top: 10px;
            }
        }
        .pt-md-12 {
            @include tablet-medium {
                padding-top: 12px;
            }
        }
        .pt-md-15 {
            @include tablet-medium {
                padding-top: 15px;
            }
        }
        .pt-md-16 {
            @include tablet-medium {
                padding-top: 16px;
            }
        }
        .pt-md-20 {
            @include tablet-medium {
                padding-top: 20px;
            }
        }
        .pt-md-25 {
            @include tablet-medium {
                padding-top: 25px;
            }
        }
        .pt-md-30 {
            @include tablet-medium {
                padding-top: 30px;
            }
        }
        .pt-md-32 {
            @include tablet-medium {
                padding-top: 32px;
            }
        }
        .pt-md-35 {
            @include tablet-medium {
                padding-top: 35px;
            }
        }
        .pt-md-40 {
            @include tablet-medium {
                padding-top: 40px;
            }
        }
        .pt-md-45 {
            @include tablet-medium {
                padding-top: 45px;
            }
        }
        .pt-md-50 {
            @include tablet-medium {
                padding-top: 50px;
            }
        }
        .pt-md-55 {
            @include tablet-medium {
                padding-top: 55px;
            }
        }
        .pt-md-60 {
            @include tablet-medium {
                padding-top: 60px;
            }
        }
        .pt-md-64 {
            @include tablet-medium {
                padding-top: 64px;
            }
        }
        .pt-md-70 {
            @include tablet-medium {
                padding-top: 70px;
            }
        }
        .pt-md-75 {
            @include tablet-medium {
                padding-top: 75px;
            }
        }
        .pt-md-80 {
            @include tablet-medium {
                padding-top: 80px;
            }
        }
        .pt-md-85 {
            @include tablet-medium {
                padding-top: 85px;
            }
        }
        .pt-md-90 {
            @include tablet-medium {
                padding-top: 90px;
            }
        }
        .pt-md-95 {
            @include tablet-medium {
                padding-top: 95px;
            }
        }
        .pt-md-100 {
            @include tablet-medium {
                padding-top: 100px;
            }
        }
    // bottom
        .pb-md-0 {
            @include tablet-medium {
                padding-bottom: 0px;
            }
        }
        .pb-md-5 {
            @include tablet-medium {
                padding-bottom: 5px;
            }
        }
        .pb-md-6 {
            @include tablet-medium {
                padding-bottom: 6px;
            }
        }
        .pb-md-8 {
            @include tablet-medium {
                padding-bottom: 8px;
            }
        }
        .pb-md-10 {
            @include tablet-medium {
                padding-bottom: 10px;
            }
        }
        .pb-md-12 {
            @include tablet-medium {
                padding-bottom: 12px;
            }
        }
        .pb-md-15 {
            @include tablet-medium {
                padding-bottom: 15px;
            }
        }
        .pb-md-16 {
            @include tablet-medium {
                padding-bottom: 16px;
            }
        }
        .pb-md-20 {
            @include tablet-medium {
                padding-bottom: 20px;
            }
        }
        .pb-md-25 {
            @include tablet-medium {
                padding-bottom: 25px;
            }
        }
        .pb-md-30 {
            @include tablet-medium {
                padding-bottom: 30px;
            }
        }
        .pb-md-32 {
            @include tablet-medium {
                padding-bottom: 32px;
            }
        }
        .pb-md-35 {
            @include tablet-medium {
                padding-bottom: 35px;
            }
        }
        .pb-md-40 {
            @include tablet-medium {
                padding-bottom: 40px;
            }
        }
        .pb-md-45 {
            @include tablet-medium {
                padding-bottom: 45px;
            }
        }
        .pb-md-50 {
            @include tablet-medium {
                padding-bottom: 50px;
            }
        }
        .pb-md-55 {
            @include tablet-medium {
                padding-bottom: 55px;
            }
        }
        .pb-md-60 {
            @include tablet-medium {
                padding-bottom: 60px;
            }
        }
        .pb-md-64 {
            @include tablet-medium {
                padding-bottom: 64px;
            }
        }
        .pb-md-70 {
            @include tablet-medium {
                padding-bottom: 70px;
            }
        }
        .pb-md-75 {
            @include tablet-medium {
                padding-bottom: 75px;
            }
        }
        .pb-md-80 {
            @include tablet-medium {
                padding-bottom: 80px;
            }
        }
        .pb-md-85 {
            @include tablet-medium {
                padding-bottom: 85px;
            }
        }
        .pb-md-90 {
            @include tablet-medium {
                padding-bottom: 90px;
            }
        }
        .pb-md-95 {
            @include tablet-medium {
                padding-bottom: 95px;
            }
        }
        .pb-md-100 {
            @include tablet-medium {
                padding-bottom: 100px;
            }
        }
    // left
        .pl-md-0 {
            @include tablet-medium {
                padding-left: 0px;
            }
        }
        .pl-md-5 {
            @include tablet-medium {
                padding-left: 5px;
            }
        }
        .pl-md-6 {
            @include tablet-medium {
                padding-left: 6px;
            }
        }
        .pl-md-8 {
            @include tablet-medium {
                padding-left: 8px;
            }
        }
        .pl-md-10 {
            @include tablet-medium {
                padding-left: 10px;
            }
        }
        .pl-md-12 {
            @include tablet-medium {
                padding-left: 12px;
            }
        }
        .pl-md-15 {
            @include tablet-medium {
                padding-left: 15px;
            }
        }
        .pl-md-16 {
            @include tablet-medium {
                padding-left: 16px;
            }
        }
        .pl-md-20 {
            @include tablet-medium {
                padding-left: 20px;
            }
        }
        .pl-md-25 {
            @include tablet-medium {
                padding-left: 25px;
            }
        }
        .pl-md-30 {
            @include tablet-medium {
                padding-left: 30px;
            }
        }
        .pl-md-32 {
            @include tablet-medium {
                padding-left: 32px;
            }
        }
        .pl-md-35 {
            @include tablet-medium {
                padding-left: 35px;
            }
        }
        .pl-md-40 {
            @include tablet-medium {
                padding-left: 40px;
            }
        }
        .pl-md-45 {
            @include tablet-medium {
                padding-left: 45px;
            }
        }
        .pl-md-50 {
            @include tablet-medium {
                padding-left: 50px;
            }
        }
        .pl-md-55 {
            @include tablet-medium {
                padding-left: 55px;
            }
        }
        .pl-md-60 {
            @include tablet-medium {
                padding-left: 60px;
            }
        }
        .pl-md-64 {
            @include tablet-medium {
                padding-left: 64px;
            }
        }
        .pl-md-70 {
            @include tablet-medium {
                padding-left: 70px;
            }
        }
        .pl-md-75 {
            @include tablet-medium {
                padding-left: 75px;
            }
        }
        .pl-md-80 {
            @include tablet-medium {
                padding-left: 80px;
            }
        }
        .pl-md-85 {
            @include tablet-medium {
                padding-left: 85px;
            }
        }
        .pl-md-90 {
            @include tablet-medium {
                padding-left: 90px;
            }
        }
        .pl-md-95 {
            @include tablet-medium {
                padding-left: 95px;
            }
        }
        .pl-md-100 {
            @include tablet-medium {
                padding-left: 100px;
            }
        }
    // right
        .pr-md-0 {
            @include tablet-medium {
                padding-right: 0px;
            }
        }
        .pr-md-5 {
            @include tablet-medium {
                padding-right: 5px;
            }
        }
        .pr-md-6 {
            @include tablet-medium {
                padding-right: 6px;
            }
        }
        .pr-md-8 {
            @include tablet-medium {
                padding-right: 8px;
            }
        }
        .pr-md-10 {
            @include tablet-medium {
                padding-right: 10px;
            }
        }
        .pr-md-12 {
            @include tablet-medium {
                padding-right: 12px;
            }
        }
        .pr-md-15 {
            @include tablet-medium {
                padding-right: 15px;
            }
        }
        .pr-md-16 {
            @include tablet-medium {
                padding-right: 16px;
            }
        }
        .pr-md-20 {
            @include tablet-medium {
                padding-right: 20px;
            }
        }
        .pr-md-25 {
            @include tablet-medium {
                padding-right: 25px;
            }
        }
        .pr-md-30 {
            @include tablet-medium {
                padding-right: 30px;
            }
        }
        .pr-md-32 {
            @include tablet-medium {
                padding-right: 32px;
            }
        }
        .pr-md-35 {
            @include tablet-medium {
                padding-right: 35px;
            }
        }
        .pr-md-40 {
            @include tablet-medium {
                padding-right: 40px;
            }
        }
        .pr-md-45 {
            @include tablet-medium {
                padding-right: 45px;
            }
        }
        .pr-md-50 {
            @include tablet-medium {
                padding-right: 50px;
            }
        }
        .pr-md-55 {
            @include tablet-medium {
                padding-right: 55px;
            }
        }
        .pr-md-60 {
            @include tablet-medium {
                padding-right: 60px;
            }
        }
        .pr-md-64 {
            @include tablet-medium {
                padding-right: 64px;
            }
        }
        .pr-md-70 {
            @include tablet-medium {
                padding-right: 70px;
            }
        }
        .pr-md-75 {
            @include tablet-medium {
                padding-right: 75px;
            }
        }
        .pr-md-80 {
            @include tablet-medium {
                padding-right: 80px;
            }
        }
        .pr-md-85 {
            @include tablet-medium {
                padding-right: 85px;
            }
        }
        .pr-md-90 {
            @include tablet-medium {
                padding-right: 90px;
            }
        }
        .pr-md-95 {
            @include tablet-medium {
                padding-right: 95px;
            }
        }
        .pr-md-100 {
            @include tablet-medium {
                padding-right: 100px;
            }
        }
// tablet-small
    // top
        .pt-sm-0 {
            @include tablet-small {
                padding-top: 0px;
            }
        }
        .pt-sm-5 {
            @include tablet-small {
                padding-top: 5px;
            }
        }
        .pt-sm-6 {
            @include tablet-small {
                padding-top: 6px;
            }
        }
        .pt-sm-8 {
            @include tablet-small {
                padding-top: 8px;
            }
        }
        .pt-sm-10 {
            @include tablet-small {
                padding-top: 10px;
            }
        }
        .pt-sm-12 {
            @include tablet-small {
                padding-top: 12px;
            }
        }
        .pt-sm-15 {
            @include tablet-small {
                padding-top: 15px;
            }
        }
        .pt-sm-16 {
            @include tablet-small {
                padding-top: 16px;
            }
        }
        .pt-sm-20 {
            @include tablet-small {
                padding-top: 20px;
            }
        }
        .pt-sm-25 {
            @include tablet-small {
                padding-top: 25px;
            }
        }
        .pt-sm-30 {
            @include tablet-small {
                padding-top: 30px;
            }
        }
        .pt-sm-32 {
            @include tablet-small {
                padding-top: 32px;
            }
        }
        .pt-sm-35 {
            @include tablet-small {
                padding-top: 35px;
            }
        }
        .pt-sm-40 {
            @include tablet-small {
                padding-top: 40px;
            }
        }
        .pt-sm-45 {
            @include tablet-small {
                padding-top: 45px;
            }
        }
        .pt-sm-50 {
            @include tablet-small {
                padding-top: 50px;
            }
        }
        .pt-sm-55 {
            @include tablet-small {
                padding-top: 55px;
            }
        }
        .pt-sm-60 {
            @include tablet-small {
                padding-top: 60px;
            }
        }
        .pt-sm-64 {
            @include tablet-small {
                padding-top: 64px;
            }
        }
        .pt-sm-70 {
            @include tablet-small {
                padding-top: 70px;
            }
        }
        .pt-sm-75 {
            @include tablet-small {
                padding-top: 75px;
            }
        }
        .pt-sm-80 {
            @include tablet-small {
                padding-top: 80px;
            }
        }
        .pt-sm-85 {
            @include tablet-small {
                padding-top: 85px;
            }
        }
        .pt-sm-90 {
            @include tablet-small {
                padding-top: 90px;
            }
        }
        .pt-sm-95 {
            @include tablet-small {
                padding-top: 95px;
            }
        }
        .pt-sm-100 {
            @include tablet-small {
                padding-top: 100px;
            }
        }
        // bottom
        .pb-sm-0 {
            @include tablet-small {
                padding-bottom: 0px;
            }
        }
        .pb-sm-5 {
            @include tablet-small {
                padding-bottom: 5px;
            }
        }
        .pb-sm-6 {
            @include tablet-small {
                padding-bottom: 6px;
            }
        }
        .pb-sm-8 {
            @include tablet-small {
                padding-bottom: 8px;
            }
        }
        .pb-sm-10 {
            @include tablet-small {
                padding-bottom: 10px;
            }
        }
        .pb-sm-12 {
            @include tablet-small {
                padding-bottom: 12px;
            }
        }
        .pb-sm-15 {
            @include tablet-small {
                padding-bottom: 15px;
            }
        }
        .pb-sm-16 {
            @include tablet-small {
                padding-bottom: 16px;
            }
        }
        .pb-sm-20 {
            @include tablet-small {
                padding-bottom: 20px;
            }
        }
        .pb-sm-25 {
            @include tablet-small {
                padding-bottom: 25px;
            }
        }
        .pb-sm-30 {
            @include tablet-small {
                padding-bottom: 30px;
            }
        }
        .pb-sm-32 {
            @include tablet-small {
                padding-bottom: 32px;
            }
        }
        .pb-sm-35 {
            @include tablet-small {
                padding-bottom: 35px;
            }
        }
        .pb-sm-40 {
            @include tablet-small {
                padding-bottom: 40px;
            }
        }
        .pb-sm-45 {
            @include tablet-small {
                padding-bottom: 45px;
            }
        }
        .pb-sm-50 {
            @include tablet-small {
                padding-bottom: 50px;
            }
        }
        .pb-sm-55 {
            @include tablet-small {
                padding-bottom: 55px;
            }
        }
        .pb-sm-60 {
            @include tablet-small {
                padding-bottom: 60px;
            }
        }
        .pb-sm-64 {
            @include tablet-small {
                padding-bottom: 64px;
            }
        }
        .pb-sm-70 {
            @include tablet-small {
                padding-bottom: 70px;
            }
        }
        .pb-sm-75 {
            @include tablet-small {
                padding-bottom: 75px;
            }
        }
        .pb-sm-80 {
            @include tablet-small {
                padding-bottom: 80px;
            }
        }
        .pb-sm-85 {
            @include tablet-small {
                padding-bottom: 85px;
            }
        }
        .pb-sm-90 {
            @include tablet-small {
                padding-bottom: 90px;
            }
        }
        .pb-sm-95 {
            @include tablet-small {
                padding-bottom: 95px;
            }
        }
        .pb-sm-100 {
            @include tablet-small {
                padding-bottom: 100px;
            }
        }
        // left
        .pl-sm-0 {
            @include tablet-small {
                padding-left: 0px;
            }
        }
        .pl-sm-5 {
            @include tablet-small {
                padding-left: 5px;
            }
        }
        .pl-sm-6 {
            @include tablet-small {
                padding-left: 6px;
            }
        }
        .pl-sm-8 {
            @include tablet-small {
                padding-left: 8px;
            }
        }
        .pl-sm-10 {
            @include tablet-small {
                padding-left: 10px;
            }
        }
        .pl-sm-12 {
            @include tablet-small {
                padding-left: 12px;
            }
        }
        .pl-sm-15 {
            @include tablet-small {
                padding-left: 15px;
            }
        }
        .pl-sm-16 {
            @include tablet-small {
                padding-left: 16px;
            }
        }
        .pl-sm-20 {
            @include tablet-small {
                padding-left: 20px;
            }
        }
        .pl-sm-25 {
            @include tablet-small {
                padding-left: 25px;
            }
        }
        .pl-sm-30 {
            @include tablet-small {
                padding-left: 30px;
            }
        }
        .pl-sm-32 {
            @include tablet-small {
                padding-left: 32px;
            }
        }
        .pl-sm-35 {
            @include tablet-small {
                padding-left: 35px;
            }
        }
        .pl-sm-40 {
            @include tablet-small {
                padding-left: 40px;
            }
        }
        .pl-sm-45 {
            @include tablet-small {
                padding-left: 45px;
            }
        }
        .pl-sm-50 {
            @include tablet-small {
                padding-left: 50px;
            }
        }
        .pl-sm-55 {
            @include tablet-small {
                padding-left: 55px;
            }
        }
        .pl-sm-60 {
            @include tablet-small {
                padding-left: 60px;
            }
        }
        .pl-sm-64 {
            @include tablet-small {
                padding-left: 64px;
            }
        }
        .pl-sm-70 {
            @include tablet-small {
                padding-left: 70px;
            }
        }
        .pl-sm-75 {
            @include tablet-small {
                padding-left: 75px;
            }
        }
        .pl-sm-80 {
            @include tablet-small {
                padding-left: 80px;
            }
        }
        .pl-sm-85 {
            @include tablet-small {
                padding-left: 85px;
            }
        }
        .pl-sm-90 {
            @include tablet-small {
                padding-left: 90px;
            }
        }
        .pl-sm-95 {
            @include tablet-small {
                padding-left: 95px;
            }
        }
        .pl-sm-100 {
            @include tablet-small {
                padding-left: 100px;
            }
        }
        // right
        .pr-sm-0 {
            @include tablet-small {
                padding-right: 0px;
            }
        }
        .pr-sm-5 {
            @include tablet-small {
                padding-right: 5px;
            }
        }
        .pr-sm-6 {
            @include tablet-small {
                padding-right: 6px;
            }
        }
        .pr-sm-8 {
            @include tablet-small {
                padding-right: 8px;
            }
        }
        .pr-sm-10 {
            @include tablet-small {
                padding-right: 10px;
            }
        }
        .pr-sm-12 {
            @include tablet-small {
                padding-right: 12px;
            }
        }
        .pr-sm-15 {
            @include tablet-small {
                padding-right: 15px;
            }
        }
        .pr-sm-16 {
            @include tablet-small {
                padding-right: 16px;
            }
        }
        .pr-sm-20 {
            @include tablet-small {
                padding-right: 20px;
            }
        }
        .pr-sm-25 {
            @include tablet-small {
                padding-right: 25px;
            }
        }
        .pr-sm-30 {
            @include tablet-small {
                padding-right: 30px;
            }
        }
        .pr-sm-32 {
            @include tablet-small {
                padding-right: 32px;
            }
        }
        .pr-sm-35 {
            @include tablet-small {
                padding-right: 35px;
            }
        }
        .pr-sm-40 {
            @include tablet-small {
                padding-right: 40px;
            }
        }
        .pr-sm-45 {
            @include tablet-small {
                padding-right: 45px;
            }
        }
        .pr-sm-50 {
            @include tablet-small {
                padding-right: 50px;
            }
        }
        .pr-sm-55 {
            @include tablet-small {
                padding-right: 55px;
            }
        }
        .pr-sm-60 {
            @include tablet-small {
                padding-right: 60px;
            }
        }
        .pr-sm-64 {
            @include tablet-small {
                padding-right: 64px;
            }
        }
        .pr-sm-70 {
            @include tablet-small {
                padding-right: 70px;
            }
        }
        .pr-sm-75 {
            @include tablet-small {
                padding-right: 75px;
            }
        }
        .pr-sm-80 {
            @include tablet-small {
                padding-right: 80px;
            }
        }
        .pr-sm-85 {
            @include tablet-small {
                padding-right: 85px;
            }
        }
        .pr-sm-90 {
            @include tablet-small {
                padding-right: 90px;
            }
        }
        .pr-sm-95 {
            @include tablet-small {
                padding-right: 95px;
            }
        }
        .pr-sm-100 {
            @include tablet-small {
                padding-right: 100px;
            }
        }