.mt-h {
    margin-top: var(--header-size);
    @include desktop-xlarge {
        margin-top: var(--header-xlg-size);
    }
    @include desktop-large {
        margin-top: var(--header-lg-size);
    }
    @include tablet-large {
        margin-top: var(--header-t-lg-size);
    }
    @include tablet-medium {
        margin-top: var(--header-md-size);
    }
    @include tablet-small {
        margin-top: var(--header-sm-size);
    }
}
.t-h {
    top: var(--header-size);
    @include desktop-xlarge {
        top: var(--header-xlg-size);
    }
    @include desktop-large {
        top: var(--header-lg-size);
    }
    @include tablet-large {
        top: var(--header-t-lg-size);
    }
    @include tablet-medium {
        top: var(--header-md-size);
    }
    @include tablet-small {
        top: var(--header-sm-size);
    }
}
.c-white {
    color: var(--white);
    p {
        color: var(--white);
    }
    a {
        color: var(--white);
    }
}
.c-black {
    color: var(--black);
    p {
        color: var(--black);
    }
    a {
        color: var(--black);
    }
}
.bcg-white {
    background-color: var(--white);
}
.h-image {
    
}
svg {
    display:flex;
    @include tFast;
    path {
        @include tFast;
    }
    rect {
        @include tFast;
    }
}

// HEADERS
    .main-header {
        
    }

    .small-header {

    }

    .bold {

    }
// DESCRIPTION
    .description {
        display:flex;
        flex-direction: column;
        gap:20px;
        strong {
            font-family: var(--ff-600);
        }
        ul {
            li {
                padding-left: 20px;
                @include p-rel;
            }
        }
        h1 {
            @include h1;
            font-family: var(--ff-600);
            margin-top: 10px;
        }
        h2 {
            @include h2;
            font-family: var(--ff-600);
            margin-top: 10px;
        }
        h3 {
            @include h3;
            font-family: var(--ff-600);
            margin-top: 10px;
        }
        h4 {
            @include h4;
            font-family: var(--ff-600);
            margin-top: 10px;
        }
        h5 {
            @include h5;
            font-family: var(--ff-600);
            margin-top: 10px;
        }
        h6 {
            @include h6;
            font-family: var(--ff-600);
            margin-top:10px;
        }
    }

.sp {
    height: 50px;
    width: 100%;
    @include p-rel;
    @include desktop-large {
        height: 35px;
    }
    // @include desktop-small {
    //     height: 50px;
    // }
    @include tablet-small {
        height: 25px;
    }
}
.sm-small {
    height: 50px;
    width: 100%;
    @include p-rel;
    @include desktop-large {
        height: 40px;
    }
    @include desktop-small {
        height: 30px;
    }
    @include tablet-small {
        height: 15px;
    }
}

.pagination-swiper {
    @include p-abs;
    z-index: 10;
    // background-color: var(--white);
    bottom:0;
    right: 0;
    display:flex;
    flex-direction:row;
    align-items:center;
    .swiper-pagination-bullets {
        height: 8px;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
        justify-content: center;
        .swiper-pagination-bullet {
            width: 8px;
            // border: 1px solid var(--granatowy);
            opacity:1;
            margin:0;
            
            border-radius: 50%;
            height: 8px;
            @include p-rel;
            background: none;
            background-color: var(--white);
            // @include desktop-large {
            //     width: 40px;
            // }
            // @include desktop-small {
            //     width: 35px;
            // }
            // @include tablet-small {
            //     width: 30px;
            // }
        }
        .swiper-pagination-bullet-active {
            background-color: var(--orange);
            &:after {
                display:none;
            }
        }
        
    }
}
.pagination-swiper-black {
    @include p-abs;
    z-index: 10;
    // background-color: var(--white);
    bottom:0;
    right: 0;
    display:flex;
    flex-direction:row;
    align-items:center;
    .swiper-pagination-bullets {
        height: 8px;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
        justify-content: center;
        .swiper-pagination-bullet {
            width: 8px;
            // border: 1px solid var(--granatowy);
            opacity:1;
            margin:0;
            
            border-radius: 50%;
            height: 8px;
            @include p-rel;
            background: none;
            background-color: var(--black);
            // @include desktop-large {
            //     width: 40px;
            // }
            // @include desktop-small {
            //     width: 35px;
            // }
            // @include tablet-small {
            //     width: 30px;
            // }
        }
        .swiper-pagination-bullet-active {
            background-color: var(--orange);
            &:after {
                display:none;
            }
        }
        
    }
}

.navigation-swiper {
    // position:absolute;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    .swiper-button-disabled {
        opacity:1;
    }
    .swiper-button-prev,
    .swiper-button-next {
        margin-top:0;
        left:auto;
        right:auto;
        position:relative;
        top:auto;
       
        &:after {
            display:none;
        }
    }
    .swiper-button-next {
        width: 28px;
        height: 28px;

    }
    .swiper-button-prev {
        width: 28px;
        height: 28px;

    }

}

.pagination-pages {
    display:flex;
    width: 100%;
    height: 40px;
    align-items: center;
    &-block {
        position:relative;
        width: 100%;
        .page-numbers {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tNormal;
            &:hover {
                background-color: var(--orange);
            }
        }
        .current {
            background-color: var(--orange);
        }
        .next {
            width: max-content;
            @include tNormal;
            
            &:hover {
                color: var(--orange);
                background-color: transparent;
                div {
                    svg {
                        rect {
                            stroke: var(--orange);
                        }
                        path {
                            stroke: var(--orange);
                        }
                    }
                }
            }
        }
        .prev {
            width: max-content;
            svg {
                transform: rotate(-180deg);
            }
            &:hover {
                color: var(--orange);
                background-color: transparent;
                div {
                    svg {
                        rect {
                            stroke: var(--orange);
                        }
                        path {
                            stroke: var(--orange);
                        }
                    }
                }
            }
        }
    }
}
.social-links-box {
    @include tNormal;
    &:hover {
        .social-links-box-icon {
            svg {
                rect {
                    stroke: var(--black);
                    fill: var(--orange);
                }
                path {
                    fill: var(--black);
                }
            }
        }
    }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: var(--orange);
}
::-webkit-scrollbar:horizontal {
    height: 5px;
}
.postsPagination {
    width: 100%;
    height: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    @include p-rel;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
    @include p-rel;
    @include desktop-large {
        margin-top: 10px;
    }
    @include tablet-small {
        margin-top: 0;
    }
    .page-numbers {
        @include a1;
        &:hover {
            color: var(--orange);
        }
    }
    .current {
        color: var(--orange);
        @include p-rel;
        &:after {
            content:'';
            @include p-abs;
            bottom: 2px;
            // min-width: 9px;
            height: 1px;
            background-color: var(--orange);
            left:0;
            width: 100%;
        }
    }
    a.prev {
        width: 40px;
        height: 30px;
        border: 1px solid var(--black);
        border-radius: 20px;
        @include p-abs;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        left:0;
        .pagin__prev {
            border: none;
            svg {
                @include p-abs;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover {
            border: 1px solid var(--orange);
        }
    }
    a.next {
        width: 40px;
        height: 30px;
        border: 1px solid var(--black);
        border-radius: 20px;
        @include p-abs;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        right: 0;
        top:0;
        .pagin__next {
            border: none;
            svg {
                @include p-abs;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover {
            border: 1px solid var(--orange);
        }
    }
}